* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: rgb(197, 197, 211); */
}

h1 {
  text-align: center;
  margin: 40px;
}
form {
  max-width: 800px;
  margin: auto;
  /* border: 1px solid crimson; */
  /* How to center an element -> width do and margin:Auto */
  background-color: rgb(181, 172, 172);
  padding: 10px;
  font-size: larger;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
form > div {
  margin: 10px auto;
  width: 700px;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
input[type="password"],
textarea {
  width: 80%;
  padding: 6px;
  outline: none;
  border-radius: 3px;
  border: none;
  font-weight: 600px;
}

input[type="submit"] {
  width: 120px;
  padding: 8px;
  font-size: medium;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: block;
  margin: auto;
  border: none;
  outline: none;
  background-color: crimson;
  margin: 20px auto;
  border-radius: 20px;
  color: rgba(255, 255, 255, 0.861);
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: rgba(159, 18, 46, 0.927);
}
